<a href="https://cognitiveclass.ai"><img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DL0101EN-SkillsNetwork/images/IDSN-logo.png" width="400"> </a>

<h1 align=center><font size = 5>Peer graded: Regression Models with Keras</font></h1>

In [ ]:
## PART A

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [4]:
# All Libraries required for this lab are listed below. The libraries pre-installed on Skills Network Labs are commented. 
# If you run this notebook on a different environment, e.g. your desktop, you may need to uncomment and install certain libraries.

#!pip install numpy==1.21.4
#!pip install pandas==1.3.4
#!pip install keras==2.1.6

In [5]:
import pandas as pd
import numpy as np

import warnings
warnings.simplefilter('ignore', FutureWarning)

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [6]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [7]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [8]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [9]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

Lets separate our data into predictors (X) and target (y)

In [10]:
target = "Strength"
X = concrete_data.copy()
y = X.pop(target)

In [11]:
X.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [12]:
y.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Let's do a quick sanity check of the predictors and the target dataframes.

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [13]:
# number of predictors
n_cols      = X.shape[1]
input_shape = (n_cols,)

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

<a id="item1"></a>

##### Part A: Build a baseline model (5 marks)
Use the Keras library to build a neural network with the following:

One hidden layer of 10 nodes, and a ReLU activation function
Use the adam optimizer and the mean squared error as the loss function.
Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split helper function from Scikit-learn.

Train the model on the training data using 50 epochs.

Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

Report the mean and the standard deviation of the mean squared errors.

## Part A.1: Split data into training and test

In [14]:
# Import the train_test_split of scikit-learn
# Will use it later for the train/test split
from sklearn.model_selection import train_test_split

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [15]:
##### Part A.2: Train a regression model

In [16]:
from tensorflow import keras as K
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [17]:
#Build a Neural Network

In [18]:
def regression_model(network_arch,
                     input_shape,
                     optimizer="adam",
                     loss="mean_squared_error"):
    
        # create model
    model = Sequential()
    
    nlayers     = len(network_arch)
    final_layer = "layer_" + str(nlayers)
    
    for k,layer in network_arch.items():
        n_units    = layer.get("n_units")
        activation = layer.get("activation")
        if k == "layer_1":
            model.add(Dense(n_units, activation=activation, input_shape=input_shape))
        elif k == final_layer:
            model.add(Dense(n_units))
        else:
            model.add(Dense(n_units, activation=activation))
    
    # compile model
    model.compile(optimizer=optimizer, loss=loss)
    
    return model

In [19]:
### Model Architecture

In [20]:
#Lets define the architecture of the model that we're going to use. In this part we are going to build a model with

#one hidden layer of 10 nodes,and a ReLU activation function

In [21]:
# model architecture
model_architecture1 = {"layer_1": {"n_units": 10, "activation": "relu"},
                       "layer_2": {"n_units":  1},
                      }

print()
print("input_shape    = {}".format(input_shape))
print("network_config = {}".format(model_architecture1))
print()

input_shape    = (8,)
network_config = {'layer_1': {'n_units': 10, 'activation': 'relu'}, 'layer_2': {'n_units': 1}}

In [22]:
### Part A.3: Train and test a regression model several times
## Will train and test a model 50 times. Will recollect the performances as mean squared error between the predicted concrete strength and the actual concrete strength

In [23]:
# import the metric to evaluate the model performance
from sklearn.metrics import mean_squared_error

In [24]:
# Define a function for the loops 
def train_and_test_several_models(X,y,
                                  test_size,
                                  model_arch,
                                  input_shape,
                                  optimizer,
                                  loss,
                                  niterations,
                                  epochs,
                                  pred_norm = False,
                                  seed = 345,
                                  verbose = 2,
                                 ):
    # Array to store the results of the model evaluation on the test set
    metric_list = np.zeros(niterations)
    
    print()
    print("Launching {} iterations of".format(niterations))
    print(" - train/test split => test_size = {}".format(test_size))
    if pred_norm:
        print(" - Apply predictors normalization")
    else:
        print(" - No    predictors normalization")
    print(" - model architecture: {}".format(model_arch))
    print(" - model training:")
    print("   * epochs    = {}".format(epochs))
    print("   * optimizer = {}".format(optimizer))
    print("   * loss      = {}".format(loss))
    print()
    
    # Start the loop
    for i in range(niterations):
        # Apply the train test split
        myseed = seed + i*2 # seed used for the train_test_split
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=myseed)

        # Start by building the model
        model = regression_model(network_arch = model_arch,
                                 input_shape  = input_shape,
                                 optimizer    = optimizer,
                                 loss         = loss)
        
        if pred_norm:
            # If requested apply predictors normalization
            # first calculate the mean and std on the train-sample
            X_train_mean = X_train.mean()
            X_train_std  = X_train.std()
            
            # then apply them on both, the train and test samples
            X_train = (X_train - X_train_mean)/X_train_std
            X_test  = (X_test  - X_train_mean)/X_train_std

        myverbose = 0
        if i == 0:
            myverbose = verbose
            print("Train/test splitting for iteration {}".format(i+1))
            print("  X_train.shape = {}".format(X_train.shape))
            print("  y_train.shape = {}".format(y_train.shape))
            print("  X_test.shape  = {}".format(X_test.shape))
            print("  y_test.shape  = {}".format(y_test.shape))
            print(X_train.head())
            print()
            print("Model summary for iteration {}".format(i+1))
            model.summary()
            print()
            print()

        # Model training
        model.fit(X_train, y_train, epochs=epochs, verbose=verbose)

        # model predictions on test sample
        y_pred = model.predict(X_test)

        # Model evaluation on test sample
        result = np.sqrt(mean_squared_error(y_test,y_pred))
        print("{}: sqrt(mse) = {}".format(i+1,result))
        metric_list[i] = result
    
    
    print()
    
    return metric_list

In [25]:
# Define some variables to be used in all parts of this asignment
niterations = 50  # Number of iterations
test_size   = 0.3 # test sample size

In [26]:
sq_mse_list_A = train_and_test_several_models(X = X,
                                              y = y,
                                              test_size   = test_size,
                                              model_arch  = model_architecture1,
                                              input_shape = input_shape,
                                              optimizer   = "adam",
                                              loss        = "mean_squared_error",
                                              niterations = niterations,
                                              epochs      = 50,
                                              seed        = 345,
                                              verbose     = 0,
                                              pred_norm   = False,
                                             )

Launching 50 iterations of
 - train/test split => test_size = 0.3
 - No    predictors normalization
 - model architecture: {'layer_1': {'n_units': 10, 'activation': 'relu'}, 'layer_2': {'n_units': 1}}
 - model training:
   * epochs    = 50
   * optimizer = adam
   * loss      = mean_squared_error

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/ops/init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Train/test splitting for iteration 1
  X_train.shape = (721, 8)
  y_train.shape = (721,)
  X_test.shape  = (309, 8)
  y_test.shape  = (309,)
     Cement  Blast Furnace Slag  Fly Ash  Water  Superplasticizer  \
870   149.0               139.0    109.0  193.0               6.0
875   155.0               183.0      0.0  193.0               9.0
488   387.0                20.0     94.0  157.0              14.3
10    198.6               132.4      0.0  192.0               0.0
391   397.0                17.2    158.0  167.0              20.8

     Coarse Aggregate  Fine Aggregate  Age
870             892.0           780.0   28
875            1047.0           697.0   28
488             938.0           845.0    3
10              978.4           825.5   90
391             967.0           633.0   28

Model summary for iteration 1
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                90
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 11
=================================================================
Total params: 101
Trainable params: 101
Non-trainable params: 0
_________________________________________________________________

2024-09-20 14:43:25.069703: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2024-09-20 14:43:25.080152: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2494075000 Hz
2024-09-20 14:43:25.080737: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55691517a8a0 executing computations on platform Host. Devices:
2024-09-20 14:43:25.080778: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2024-09-20 14:43:25.115223: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

1: sqrt(mse) = 17.8050584539525
2: sqrt(mse) = 14.459154926953005
3: sqrt(mse) = 11.122470057374624
4: sqrt(mse) = 22.368190448164306
5: sqrt(mse) = 10.284403167784875
6: sqrt(mse) = 11.766908994635235
7: sqrt(mse) = 34.982148823625465
8: sqrt(mse) = 17.727172921200076
9: sqrt(mse) = 9.431453980330168
10: sqrt(mse) = 14.765398527047184
11: sqrt(mse) = 20.345390679587794
12: sqrt(mse) = 22.33874066957657
13: sqrt(mse) = 10.922699982945197
14: sqrt(mse) = 13.071531161398294
15: sqrt(mse) = 10.0566807952597
16: sqrt(mse) = 12.710172299949877
17: sqrt(mse) = 24.958335901400083
18: sqrt(mse) = 18.009704150928936
19: sqrt(mse) = 21.055520493236482
20: sqrt(mse) = 19.99744876963989
21: sqrt(mse) = 38.11586486904064
22: sqrt(mse) = 16.639173671552072
23: sqrt(mse) = 10.572415494379928
24: sqrt(mse) = 15.180975290513388
25: sqrt(mse) = 10.9131690533304
26: sqrt(mse) = 12.563286891596077
27: sqrt(mse) = 19.114416308124035
28: sqrt(mse) = 10.350348672398377
29: sqrt(mse) = 14.893134036358601
30: sqrt(mse) = 13.894361097763488
31: sqrt(mse) = 11.142508274113345
32: sqrt(mse) = 19.85890566328534
33: sqrt(mse) = 14.222363877247883
34: sqrt(mse) = 14.271857178350492
35: sqrt(mse) = 8.427065352103316
36: sqrt(mse) = 14.589029231655923
37: sqrt(mse) = 20.57038095632102
38: sqrt(mse) = 14.055257266635305
39: sqrt(mse) = 17.893978136213548
40: sqrt(mse) = 11.793023709911177
41: sqrt(mse) = 10.813457811200019
42: sqrt(mse) = 9.497794160341115
43: sqrt(mse) = 9.308339993024946
44: sqrt(mse) = 18.789850639916775
45: sqrt(mse) = 14.230297132261985
46: sqrt(mse) = 23.64100119816926
47: sqrt(mse) = 34.73799903559875
48: sqrt(mse) = 22.776457736652596
49: sqrt(mse) = 13.80074887452526
50: sqrt(mse) = 11.449007385300842

In [27]:
## Part A results

In [28]:
# Calculate the mean and the standard deviation of the metric on the 50 samplings
mean_sqmse_A = np.mean(sq_mse_list_A)
std_sqmse_A  = np.std(sq_mse_list_A)

# Generate a data frame to store the results of the differents parts of this project
df_results = pd.DataFrame.from_dict({"Part": ["A"],"mean_sq_mse": [mean_sqmse_A], "std_sq_mse": [std_sqmse_A]})
df_results

  Part  mean_sq_mse  std_sq_mse
0    A    16.325701    6.555925

In [29]:
## PART B 
## Normalise Data 
## Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

In [30]:
## How does the mean of the mean squared errors compare to that from Step A?

In [31]:
# Just launch the function above (train_and_test_several_models), but with pred_norm = True
sq_mse_list_B = train_and_test_several_models(X = X,
                                              y = y,
                                              test_size   = test_size,
                                              model_arch  = model_architecture1,
                                              input_shape = input_shape,
                                              optimizer   = "adam",
                                              loss        = "mean_squared_error",
                                              niterations = niterations,
                                              epochs      = 50,
                                              seed        = 3675,
                                              verbose     = 0,
                                              pred_norm   = True,
                                             )

Launching 50 iterations of
 - train/test split => test_size = 0.3
 - Apply predictors normalization
 - model architecture: {'layer_1': {'n_units': 10, 'activation': 'relu'}, 'layer_2': {'n_units': 1}}
 - model training:
   * epochs    = 50
   * optimizer = adam
   * loss      = mean_squared_error

Train/test splitting for iteration 1
  X_train.shape = (721, 8)
  y_train.shape = (721,)
  X_test.shape  = (309, 8)
  y_test.shape  = (309,)
       Cement  Blast Furnace Slag   Fly Ash     Water  Superplasticizer  \
723  0.260617           -0.863998 -0.825639  0.448707         -1.007613
112  1.477748            1.174001 -0.825639  0.163870          0.870100
278 -0.292281           -0.863998  1.058232  0.282552         -0.026465
641 -0.305490           -0.863998 -0.825639 -0.026021         -1.007613
270 -0.477209           -0.863998  1.110782 -0.405804          0.125781

     Coarse Aggregate  Fine Aggregate       Age
723          0.481434        0.718580 -0.271735
112         -1.145439       -0.775490 -0.608947
278          0.691353       -0.166115  0.884424
641          1.607829        0.596215 -0.608947
270          1.049752        0.088403 -0.496543

Model summary for iteration 1
Model: "sequential_50"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_100 (Dense)            (None, 10)                90
_________________________________________________________________
dense_101 (Dense)            (None, 1)                 11
=================================================================
Total params: 101
Trainable params: 101
Non-trainable params: 0
_________________________________________________________________


1: sqrt(mse) = 17.082946762810863
2: sqrt(mse) = 18.575513178485014
3: sqrt(mse) = 20.515382565009116
4: sqrt(mse) = 20.046923874848257
5: sqrt(mse) = 16.828357858899412
6: sqrt(mse) = 17.800348088981288
7: sqrt(mse) = 17.29871934172482
8: sqrt(mse) = 16.8165348754654
9: sqrt(mse) = 16.51356143032495
10: sqrt(mse) = 18.31066954598247
11: sqrt(mse) = 20.036840461144898
12: sqrt(mse) = 15.98139662284846
13: sqrt(mse) = 20.443389055484808
14: sqrt(mse) = 19.621070558692846
15: sqrt(mse) = 15.461267153387253
16: sqrt(mse) = 16.292539455772516
17: sqrt(mse) = 20.312255682562174
18: sqrt(mse) = 18.08074459661851
19: sqrt(mse) = 16.68402463712383
20: sqrt(mse) = 16.568199223785427
21: sqrt(mse) = 19.138868205338934
22: sqrt(mse) = 16.7477692646648
23: sqrt(mse) = 17.125883300653097
24: sqrt(mse) = 19.999102323535507
25: sqrt(mse) = 16.504292056841997
26: sqrt(mse) = 18.067433626403357
27: sqrt(mse) = 23.819816723915572
28: sqrt(mse) = 17.057997137775434
29: sqrt(mse) = 20.889386695477626
30: sqrt(mse) = 16.502305431321364
31: sqrt(mse) = 14.654759428741405
32: sqrt(mse) = 23.009725054218695
33: sqrt(mse) = 17.779181767240917
34: sqrt(mse) = 18.25022573542258
35: sqrt(mse) = 15.650824521653268
36: sqrt(mse) = 17.39527573402026
37: sqrt(mse) = 17.837633104052188
38: sqrt(mse) = 17.979588912998473
39: sqrt(mse) = 20.155754501235975
40: sqrt(mse) = 16.504173893122044
41: sqrt(mse) = 18.225304809820233
42: sqrt(mse) = 22.16856148903225
43: sqrt(mse) = 20.681245222793493
44: sqrt(mse) = 18.331928454414765
45: sqrt(mse) = 18.77317114025291
46: sqrt(mse) = 16.988016627244463
47: sqrt(mse) = 21.070320986416487
48: sqrt(mse) = 21.609407324741046
49: sqrt(mse) = 16.126104077801678
50: sqrt(mse) = 19.41743215444516

In [32]:
# Calculate the mean and the standard deviation of the metric on the 50 samplings
mean_sqmse_B = np.mean(sq_mse_list_B)
std_sqmse_B  = np.std(sq_mse_list_B)

df_results.loc[df_results.shape[0]] = ["B",mean_sqmse_B,std_sqmse_B]
df_results

  Part  mean_sq_mse  std_sq_mse
0    A    16.325701    6.555925
1    B    18.354643    2.025164

In [33]:
#How does the mean of the mean squared errors compare to that from Step A?
# A - The mean doesn't change much, but the standard deviation is reduced a lot

In [34]:
## PART C
## Increase the number of epochs
# Repeat Part B but use 100 epochs this time for training.

# How does the mean of the mean squared errors compare to that from Step B?

In [35]:
# Launch the function above (train_and_test_several_models), but with pred_norm = True and epochs = 100
sq_mse_list_C = train_and_test_several_models(X = X,
                                              y = y,
                                              test_size   = test_size,
                                              model_arch  = model_architecture1,
                                              input_shape = input_shape,
                                              optimizer   = "adam",
                                              loss        = "mean_squared_error",
                                              niterations = niterations,
                                              epochs      = 100,
                                              seed        = 3675,
                                              verbose     = 0,
                                              pred_norm   = True,
                                             )

Launching 50 iterations of
 - train/test split => test_size = 0.3
 - Apply predictors normalization
 - model architecture: {'layer_1': {'n_units': 10, 'activation': 'relu'}, 'layer_2': {'n_units': 1}}
 - model training:
   * epochs    = 100
   * optimizer = adam
   * loss      = mean_squared_error

Train/test splitting for iteration 1
  X_train.shape = (721, 8)
  y_train.shape = (721,)
  X_test.shape  = (309, 8)
  y_test.shape  = (309,)
       Cement  Blast Furnace Slag   Fly Ash     Water  Superplasticizer  \
723  0.260617           -0.863998 -0.825639  0.448707         -1.007613
112  1.477748            1.174001 -0.825639  0.163870          0.870100
278 -0.292281           -0.863998  1.058232  0.282552         -0.026465
641 -0.305490           -0.863998 -0.825639 -0.026021         -1.007613
270 -0.477209           -0.863998  1.110782 -0.405804          0.125781

     Coarse Aggregate  Fine Aggregate       Age
723          0.481434        0.718580 -0.271735
112         -1.145439       -0.775490 -0.608947
278          0.691353       -0.166115  0.884424
641          1.607829        0.596215 -0.608947
270          1.049752        0.088403 -0.496543

Model summary for iteration 1
Model: "sequential_100"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_200 (Dense)            (None, 10)                90
_________________________________________________________________
dense_201 (Dense)            (None, 1)                 11
=================================================================
Total params: 101
Trainable params: 101
Non-trainable params: 0
_________________________________________________________________


1: sqrt(mse) = 12.93031267126434
2: sqrt(mse) = 13.134723897318814
3: sqrt(mse) = 12.837917360786697
4: sqrt(mse) = 13.553339890763654
5: sqrt(mse) = 12.825153110194224
6: sqrt(mse) = 12.672508605789552
7: sqrt(mse) = 12.682057625567925
8: sqrt(mse) = 13.53796160912933
9: sqrt(mse) = 13.460892038304678
10: sqrt(mse) = 12.795603474833186
11: sqrt(mse) = 15.670091908433958
12: sqrt(mse) = 13.446728913551082
13: sqrt(mse) = 12.71998287689367
14: sqrt(mse) = 13.101747266015598
15: sqrt(mse) = 12.592804950992711
16: sqrt(mse) = 12.687084755959734
17: sqrt(mse) = 13.815803769575297
18: sqrt(mse) = 12.093804394575145
19: sqrt(mse) = 13.44464870152698
20: sqrt(mse) = 14.995806251377282
21: sqrt(mse) = 12.534963240853301
22: sqrt(mse) = 13.029600675389162
23: sqrt(mse) = 13.105913499226093
24: sqrt(mse) = 12.94810101406284
25: sqrt(mse) = 11.999897829309749
26: sqrt(mse) = 13.644526857805618
27: sqrt(mse) = 13.341662196552976
28: sqrt(mse) = 11.447960022080574
29: sqrt(mse) = 12.728282060549326
30: sqrt(mse) = 12.63162959405182
31: sqrt(mse) = 12.283163857665894
32: sqrt(mse) = 11.917932314060804
33: sqrt(mse) = 11.715037829195305
34: sqrt(mse) = 19.62070032088755
35: sqrt(mse) = 12.177707338129725
36: sqrt(mse) = 12.90110097758348
37: sqrt(mse) = 13.828626295511057
38: sqrt(mse) = 12.836815080328696
39: sqrt(mse) = 12.362035999706489
40: sqrt(mse) = 12.86191113206186
41: sqrt(mse) = 12.464194050159145
42: sqrt(mse) = 13.12658552793072
43: sqrt(mse) = 12.977123190326965
44: sqrt(mse) = 13.27446258846895
45: sqrt(mse) = 14.381228122969544
46: sqrt(mse) = 12.590997318705213
47: sqrt(mse) = 14.548842278266633
48: sqrt(mse) = 13.092112587312826
49: sqrt(mse) = 12.96999170411791
50: sqrt(mse) = 12.667059765315491

In [36]:
# Calculate the mean and the standard deviation of the metric on the 50 samplings
mean_sqmse_C = np.mean(sq_mse_list_C)
std_sqmse_C  = np.std(sq_mse_list_C)

df_results.loc[df_results.shape[0]] = ["C",mean_sqmse_C,std_sqmse_C]
df_results

  Part  mean_sq_mse  std_sq_mse
0    A    16.325701    6.555925
1    B    18.354643    2.025164
2    C    13.140183    1.198785

In [37]:
#By increasing the number of epocs we obtain more precise (lower mse mean) and stable (lower standard deviation) results

In [38]:
#### Part D: Increase the number of hidden layers

In [39]:
#Repeat part B but use a neural network with the following instead:

#Three hidden layers, each of 10 nodes and ReLU activation function.
#How does the mean of the mean squared errors compare to that from Step B?

#We start by defining the new architecture

In [40]:
# Define the new architecture
# model architecture
model_architecture2 = {"layer_1": {"n_units": 10, "activation": "relu"},
                       "layer_2": {"n_units": 10, "activation": "relu"},
                       "layer_3": {"n_units": 10, "activation": "relu"},
                       "layer_4": {"n_units":  1},
                      }

print()
print("input_shape    = {}".format(input_shape))
print("network_config = {}".format(model_architecture2))
print()

input_shape    = (8,)
network_config = {'layer_1': {'n_units': 10, 'activation': 'relu'}, 'layer_2': {'n_units': 10, 'activation': 'relu'}, 'layer_3': {'n_units': 10, 'activation': 'relu'}, 'layer_4': {'n_units': 1}}

In [41]:
# Launch the function above (train_and_test_several_models), but with pred_norm = True 
# and model_arch = model_architecture2 and epochs = 100
sq_mse_list_D = train_and_test_several_models(X = X,
                                              y = y,
                                              test_size   = test_size,
                                              model_arch  = model_architecture2,
                                              input_shape = input_shape,
                                              optimizer   = "adam",
                                              loss        = "mean_squared_error",
                                              niterations = niterations,
                                              epochs      = 50,
                                              seed        = 3675,
                                              verbose     = 0,
                                              pred_norm   = True,
                                             )

Launching 50 iterations of
 - train/test split => test_size = 0.3
 - Apply predictors normalization
 - model architecture: {'layer_1': {'n_units': 10, 'activation': 'relu'}, 'layer_2': {'n_units': 10, 'activation': 'relu'}, 'layer_3': {'n_units': 10, 'activation': 'relu'}, 'layer_4': {'n_units': 1}}
 - model training:
   * epochs    = 50
   * optimizer = adam
   * loss      = mean_squared_error

Train/test splitting for iteration 1
  X_train.shape = (721, 8)
  y_train.shape = (721,)
  X_test.shape  = (309, 8)
  y_test.shape  = (309,)
       Cement  Blast Furnace Slag   Fly Ash     Water  Superplasticizer  \
723  0.260617           -0.863998 -0.825639  0.448707         -1.007613
112  1.477748            1.174001 -0.825639  0.163870          0.870100
278 -0.292281           -0.863998  1.058232  0.282552         -0.026465
641 -0.305490           -0.863998 -0.825639 -0.026021         -1.007613
270 -0.477209           -0.863998  1.110782 -0.405804          0.125781

     Coarse Aggregate  Fine Aggregate       Age
723          0.481434        0.718580 -0.271735
112         -1.145439       -0.775490 -0.608947
278          0.691353       -0.166115  0.884424
641          1.607829        0.596215 -0.608947
270          1.049752        0.088403 -0.496543

Model summary for iteration 1
Model: "sequential_150"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_300 (Dense)            (None, 10)                90
_________________________________________________________________
dense_301 (Dense)            (None, 10)                110
_________________________________________________________________
dense_302 (Dense)            (None, 10)                110
_________________________________________________________________
dense_303 (Dense)            (None, 1)                 11
=================================================================
Total params: 321
Trainable params: 321
Non-trainable params: 0
_________________________________________________________________


1: sqrt(mse) = 11.75455587898998
2: sqrt(mse) = 11.597057609745365
3: sqrt(mse) = 12.41597662792541
4: sqrt(mse) = 10.730597212715823
5: sqrt(mse) = 11.788611553082726
6: sqrt(mse) = 11.87067066343825
7: sqrt(mse) = 10.008289131173333
8: sqrt(mse) = 11.541267370361737
9: sqrt(mse) = 12.42573908579684
10: sqrt(mse) = 9.469828612703985
11: sqrt(mse) = 10.777947953212895
12: sqrt(mse) = 10.839841398001955
13: sqrt(mse) = 10.794977402982486
14: sqrt(mse) = 11.343825967548437
15: sqrt(mse) = 10.985704551883703
16: sqrt(mse) = 11.89837707496359
17: sqrt(mse) = 11.971870661103198
18: sqrt(mse) = 9.72883446888782
19: sqrt(mse) = 12.797898861599847
20: sqrt(mse) = 10.523322779181889
21: sqrt(mse) = 11.856272723803125
22: sqrt(mse) = 11.487565376575809
23: sqrt(mse) = 10.453358330500603
24: sqrt(mse) = 11.474274011591284
25: sqrt(mse) = 11.440604655415806
26: sqrt(mse) = 10.79413877154556
27: sqrt(mse) = 9.891367511774105
28: sqrt(mse) = 10.478871733897977
29: sqrt(mse) = 11.13453085503167
30: sqrt(mse) = 11.395356214182419
31: sqrt(mse) = 10.307056326229585
32: sqrt(mse) = 11.518885558439285
33: sqrt(mse) = 11.122268562217037
34: sqrt(mse) = 10.482138920536592
35: sqrt(mse) = 10.986377686872864
36: sqrt(mse) = 9.983467556014086
37: sqrt(mse) = 11.808183212751548
38: sqrt(mse) = 10.998119119983558
39: sqrt(mse) = 11.438386318524415
40: sqrt(mse) = 11.69979176921282
41: sqrt(mse) = 11.909771002151208
42: sqrt(mse) = 10.527254623717488
43: sqrt(mse) = 11.869826006157373
44: sqrt(mse) = 10.637459103509206
45: sqrt(mse) = 10.206261031096322
46: sqrt(mse) = 11.360962803233962
47: sqrt(mse) = 11.40155322183347
48: sqrt(mse) = 10.669668788221323
49: sqrt(mse) = 11.721173999484053
50: sqrt(mse) = 11.95604375054204

In [42]:
# Calculate the mean and the standard deviation of the metric on the 50 samplings
mean_sqmse_D = np.mean(sq_mse_list_D)
std_sqmse_D  = np.std(sq_mse_list_D)

df_results.loc[df_results.shape[0]] = ["D",mean_sqmse_D,std_sqmse_D]
df_results

  Part  mean_sq_mse  std_sq_mse
0    A    16.325701    6.555925
1    B    18.354643    2.025164
2    C    13.140183    1.198785
3    D    11.165524    0.734003

In [ ]:
#By increasing the model complexity (more hidden layers) improves the results, both in terms of precision (mse mean) and stability (mse standard deviation).